# Application Environment
NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000

# PostgreSQL Database
DATABASE_URL="postgresql://user:password@localhost:5432/burgula_cotton?schema=public"

# Redis Cache / Distributed Rate Limiting
REDIS_URL="redis://localhost:6379"

# Security & Secrets
APP_SECRET="replace_with_min_32_char_secure_random_key"
